.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.bedpe
*.tsv
*.csv
*.html
*.pdf
*.png
*.css
*.js
differential_interaction_analysis_cache/*
differential_interaction_analysis_files/*
.jupyter_cache/*
_extensions/*
results/*
!results/.gitkeep
params.local.yml
.Rprofile
renv/
renv.lock

/.quarto/
**/*.quarto_ipynb
README.md
Readme.html